{% extends 'base.html.twig' %}

{% block title %}Fiche d'un spectacle{% endblock %}

{% block body %}
    <article>

    {% for representation in show.representations %}
       <pre>
           {{ dump(representation.schedule) }}
       </pre> 
    {% endfor %}
        <h1>{{ show.title }}</h1>

        {% if show.posterUrl %}
        <p><img src="{{ asset('images/' ~ show.posterUrl) }}" alt="{{ show.title }}" width="200"></p>
        {% else %}
        <canvas width="200" height="100" style="border:1px solid #000000;"></canvas>
        {% endif %}

        {% if show.location %}
        <p><strong>Lieu de Création: </strong> {{ show.location.designation }}</p>
        {% endif %}

        <p><strong>Prix: </strong>{{ show.price }} euros</p>

        {% if show.bookable %}
        <p><em>Réservable</em></p>
        {% else %}
        <p><em>Non Réservable</em></p>
        {% endif %}
    </article>   
{% endblock %} 